@use 'variables' as *;
@use 'layout' as *;

@media (min-width:$bp-md) {

  // HEADER BAR //
  .header-bar {
    .header-content {
      //padding: $spacing-sm;
      flex-direction: column;
      height: 110px;

      .desktop-header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        padding-top: $spacing-sm;

        .header-socials {
          display: flex;
          justify-content: flex-end;
          grid-column: 3;
          align-items: center;

          .social-number {
            padding-right: 20px;
          }

          .social-button {
            display: block;
            border: $line-space solid $color-secondary;
            padding: $spacing-sm;
          }
        }

        .logo {
          grid-column: 2;
        }
      }

      .main-nav {
        width: 100%;
        padding-top: $spacing-sm;

        .menu {
          position: static; // place it naturally in the header
          transform: none; // cancel slide-in transform
          opacity: 1; // fully visible
          width: auto; // fit content
          height: auto; // normal height
          background: transparent; // no overlay
          flex-direction: row; // inline items
          z-index: auto; // normal stacking

          .menu-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            svg {
              display: none;
            }

            li {
              list-style: none;

              .icon-link.active {
                border-bottom: $line-space solid $color-secondary;
              }

              a {
                text-decoration: none;
              }
            }

          }

          .menu-footer {
            display: none;
          }

        }
      }
    }
  }

  main {

    //smaller hero
    .hero {
      background-position: top center;
    }
  }
}

//DESKTOP //
@media (min-width:$bp-lg) {
  .header-bar {
    align-items: center;

    .header-content {
      width: $bp-lg;
    }

  }

  main {

    .hero {
      .hero-content {
        display: flex;
        justify-content: center;

        .desktop-size {
          width: $bp-lg;
          display: flex;
          justify-content: space-between;
        }

      }

    }

    .products {
      width: 100%;
      align-items: center;

      h2 {
        width: $bp-lg;
        text-align: center;
      }

      .product-grid {
        width: $bp-lg;
      }
    }

  }

}
