@use 'variables' as *;
@use 'layout' as *;

@media (min-width:$bp-md) {

  // HEADER BAR //
  .header-bar {
    .header-content {
      //padding: $spacing-sm;
      flex-direction: column;
      height: 110px;

      .desktop-header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        .header-socials {
          display: flex;
          justify-content: flex-end;
          grid-column: 3;
          align-items: center;

          li {
            list-style: none;
            margin-left: 20px;
          }

          .social-button {
            display: block;
            border: $line-space solid $color-secondary;
            padding: $spacing-sm;
          }
        }

        .logo {
          grid-column: 2;
        }
      }

      .main-nav {
        width: 100%;

        .menu {
          position: static; // place it naturally in the header
          transform: none; // cancel slide-in transform
          opacity: 1; // fully visible
          width: auto; // fit content
          height: auto; // normal height
          background: transparent; // no overlay
          flex-direction: row; // inline items
          z-index: auto; // normal stacking

          .menu-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            svg {
              display: none;
            }

            li {
              list-style: none;

              a {
                text-decoration: none;
              }
            }

          }

          .menu-footer {
            display: none;
          }

        }
      }
    }
  }

  main {

    //smaller hero
    .hero {
      background-position: top center;
    }
  }
}

//@media (min-width:$bp-lg) {}
