// burger button;
@use 'variables' as *;

// burger button styling
@media (max-width:$bp-md) {
  .menu.active {
    display: flex;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1002;
    transform: translateX(0); // move on-screen
    opacity: 1;

  }

  // for no scroll
  .no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .main-nav {
    padding: $spacing-sm;

    .menu-list {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      li {
        a {
          display: flex;
          justify-content: space-between;
          padding: $spacing-sm 20px;
          text-decoration: none;
          color: $color-secondary;
          border-bottom: $line-space solid $color-secondary;
          align-items: center;
        }

        .icon-link svg {
          height: 10px;
          width: 10px;
          padding-right: 20px;
        }
      }
    }
  }

  .menu-footer {
    display: flex;
    background: $color-secondary;
    flex-direction: column;
    width: 100%;

    p {
      color: $color-background;
      padding: $spacing-sm;

      a {
        color: white;
      }
    }

    ul {
      padding: $spacing-sm;
      list-style: none;
      text-decoration: none;
      display: flex;
      justify-content: space-evenly;

      a {
        display: block;
        color: white;
        padding: 0;
        height: $svg-size;
        width: $svg-size;

      }

    }

  }

  .burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1003;
    position: relative;

    span {
      display: block;
      height: 4px;
      background: $color-secondary;
      border-radius: 1px;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
