// burger button;
@use 'variables' as *;

// burger button styling
@media (max-width:$bp-md) {
  .menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    background: $color-background;


  }

  .main-nav {
    padding: $spacing-sm;

    ul {
      padding: 0;
      margin: 0;

      li {
        a {
          display: block;
          padding: $spacing-sm;
          text-decoration: none;
        }
      }
    }
  }

  .menu-footer {
    a {
      padding: none;
    }
  }

  .burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1003;
    position: relative;

    span {
      display: block;
      height: 4px;
      background: $color-secondary;
      border-radius: 1px;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
