@use 'variables' as *;
@use 'components' as *;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $color-background;
  color: $color-secondary;

  a {
    color: $color-secondary;
  }

  h2 {
    padding: $spacing-sm;
    margin: 0;
  }

  svg {
    width: $svg-size;
    height: $svg-size;
    fill: $color-background;

  }
}

// HEADER BAR //

.header-bar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  flex-direction: column;
  background: $color-background ;

  .header-content {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background: $color-background;

    .desktop-header-container {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;

      .logo {
        h1 {
          font-size: $font-size-lg;
        }
      }

      .header-socials {
        display: none //tablet or above only

      }
    }

    .main-nav {
      .mobile-nav {
        display: flex;

        a {
          margin-right: 20px;
        }
      }
    }

  }

  .header-break {
    height: $line-space;

    span {
      display: block;
      height: $line-space;
      width: 100%;
      background: $color-secondary;
    }
  }

}

.menu {
  position: fixed;
  top: 62px;
  left: 0;
  width: 50%;
  height: calc(100% - 62px);
  transform: translateX(100%); // move off-screen
  opacity: 0; // invisible
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1002;
  background: $color-background;

}

// MAIN //

main {
  // this removes the gap of the header nav
  padding-top: 62px;
  background: $color-background;
  //margin-top: 65px;

  .hero {
    height: calc(100vh - #{62px});
    //height: 600px; // or whatever you want
    background-image: url('../img/image_4.jpg');
    background-size: cover; // fills the container
    background-position: center; // centers the image
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    //background: $color-secondary;
    justify-content: flex-end;
    align-items: center;
    color: white; // for text/buttons on top
    text-align: center;

    .hero-content {
      //display: flex;
      width: 100%;
      background: $color-secondary;

      .desktop-size {
        display: flex;
        justify-content: space-around;

        h2 {
          padding: $spacing-sm;
          font-size: $font-size-md;
          margin: 0;
          text-align: left;
          color: $color-background;
        }

        a {
          padding: $spacing-sm;
          color: $color-background;
        }

      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;


  .product-grid {
    display: flex;
    flex-wrap: wrap;

    .product {
      width: 50%;
      padding: $spacing-sm;
      box-sizing: border-box;
      object-fit: cover;


      img {
        display: block;
        width: 100%;
        //object-fit: cover;
        height: auto
      }

      h3 {
        padding: $spacing-xs;
        text-align: center;
      }
    }
  }
}

// FOOTER //
footer {
  background: $color-secondary;
  color: $color-background;
  padding: $spacing-sm;

  ul {
    display: flex;
    justify-content: space-evenly;
    padding: $spacing-sm 0px;

    li {
      list-style: none;
    }
  }

  a {
    display: block;
    color: white;
    padding: 0;
    width: $svg-size;
    height: $svg-size;
  }
}
